
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/createtest.css">
    <title>Document</title>
</head>

<body>
    <div id="navbar-placeholder"></div>

    <script src="../static/navbar.js"></script>
    
    <div>
        <form action="/changestatus" method="post">
            <button type="submit"> Release</button>
        </form>
    </div>

    <div class="form-container">
        <h3>MCQ</h3>
        <form action="/createtest" method="post">

            <input style="display: none;" name="type" type="text" value="1">
            <select name="level" id="cars">
                <option disabled selected>Difficuilty Level</option>
                <option value="easy">Easy</option>
                <option value="med">Meadium</option>
                <option value="hard">Hard</option>
            </select>
    
            <input name="que" type="text" placeholder="question">
            <input name="op1" type="text" placeholder="option">
            <input name="op2" type="text" placeholder="option">
            <input name="op3" type="text" placeholder="option">
            <input name="op4" type="text" placeholder="option">
            <input name="answer" type="text" placeholder="answer">
    
            <br>
            <input type="submit" value="Add">
    
        </form>
    </div>
    
    
    

    <div class="form-container">
        <h3>Subjective Question</h3>
        <form action="/createtest" method="post">
            <input style="display: none;" name="type" type="text" value="2">
            <select name="level" id="cars">
                <option disabled selected>Difficuilty Level</option>
                <option value="easy">Easy</option>
                <option value="med">Meadium</option>
                <option value="hard">Hard</option>
            </select>
    
            <input name="que" type="text" placeholder="question">
            <br>
    
            <input type="submit" value="Add">
    
        </form>
    </div>


  
   

    <div class="form-container">
        <h3>Coding Question</h3>
        <form action="/createtest" method="post">
            <input style="display: none;" name="type" type="text" value="3">
    
            <select name="level" id="cars">
                <option disabled selected>Difficuilty Level</option>
                <option value="easy">Easy</option>
                <option value="med">Meadium</option>
                <option value="hard">Hard</option>
            </select><br>
    
            <input name="que" type="text" placeholder="question"><br>
            <input name="t1" type="text" placeholder="test inputof 1">
            <input name="a1" type="text" placeholder="expected output of 1"><br>
            <input name="t2" type="text" placeholder="test inputof 2">
            <input name="a2" type="text" placeholder="expected output of 2"><br>
    
    
            <input type="submit" value="Add">
    
        </form>
    </div>

    

    <div>

    </div>


</body>

</html>