.student-card {
    border-radius: 10px;
    border: 3px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.student-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profile-pic {
    width: 100px;
    height: 100px;
}

.form-label {
    
}


.row .row-main{
    /* border: 2px solid red; */
    width: 100%;
    padding: 3%;
}

#col_main{
    /* border: 2px solid rgb(31, 9, 52); */
    width: 100%;

}