

.container{
    height: auto;
    margin-top: 4%;
}

.col{
    width: 100%;
}
.exam-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    width: 97%;

    
    
    
}

.d_inner p{
    position: relative;
    top: 8px;
}

.exam-card:hover {
    transform: translateY(-5px);
}

.btn{
    margin-left: 70px;
}

.badge {
    font-size: 14px;
    margin-right: 5
}