@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}


.login-container{
    display: flex;
    margin: 2%;
    justify-content: space-evenly;
}

.login-container .left{
/* border: 3px solid red; */
display: flex;
justify-content: center;
align-items: center;
width: 50%;
}

.login-container .right{
 
/* border: 3px solid rgb(25, 8, 8); */
width: 90%;
height: 39em;
display: flex;
margin-right: -7%;
/* justify-content: flex-end; */
/* position: relative;
left: 80px; */


}

.h1-login{
    /* color: #0B60B0; */
    color:#007bff;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;

    /* position: relative;
    left: 23px;
    bottom: -30px; */
}

.login-container div img{
    width: 28em;
    height: 32em;
    margin-right: 10px;
    

}


.login-container .right .right-in{
    /* border: 7px solid rgb(144, 118, 224); */
    position: relative;
      background-color: white;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      flex-direction: column;



    width: 34em;
    height: 39em;
    display: flex;
    flex-direction: column;
    /* margin-right: 16%; */
    /* position: relative; */
    /* align-items: la; */


}

.email_input{
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    height: 43px;
    border-style: none;
    background-color: #ECECEC;
    border-radius: 5px;
}
/* .email_input{
    width: 400px;
    height: 43px;
} */
.input-container {
    position: relative;
    margin-bottom: 20px;
    /* border: 2px solid red; */
  }
  
  .input-container input {
    padding-left: 30px;
  }
  
  .icon {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    left: 25px;
    color: #999;
    
  }
  
  .toggle-password {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 30px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .radio-container {
    margin-bottom: 20px;
    margin-top: 10%;
    /* margin-left: 20px; */
    display: flex;
    justify-content: space-evenly;
  }
  
  .checkbox-container {
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 25px;
  }
  
  /* .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 3px;
  } */
  
  .checkmark::after {
    content: '';
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .checkbox-container input:checked + .checkmark::after {
    display: block;
  }
  
  .forget-password {
    margin-bottom: 20px;
    color: #999;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: 40%;
  }
  
  .forget-password:hover {
    color: #666;
  }
  
  .btn-sign-in {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 92%;
    margin-left: 20px;
    margin-right: 20px;

  }
  
  .btn-sign-in:hover {
    background-color: #0056b3;
  }
  
  .register-text {
    margin-top: 8%;
    text-align: center;
    color: #6f42c1;
  }
  
  .register-link {
    color: #6f42c1;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .register-link:hover {
    color: #553399;
  }


